table, th, td {
    margin:20px 20px;
    border: 1px solid black;
}
th{
    font-size: 15px;
}
.r{
    text-align: center;
}
td{
    text-align:center;    
}
a{
    text-decoration: none;
}
.w3-container{
    position:relative;
    display:flex;
    
}
#f1{
    position:absolute;
    right:20px;
    top: 25%;
    color: black;
}

